@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
    --primary-color: #191919;
    --white: #FFFFFF;
    --sidebar-primary: #353E47;
    --sidebar-primary-hover: #353E47;
    --sidebar-background: #070E13;
    --background: #F1F3FF;
    --text-link: #FFFFFF;
    --headline: #CBD1D8;
    --expand-button: #353E47;
    --logout: #FA7575;
}

body {
    background: #cfcfcf;
    font-size: 16px;
    padding: 16px;
    height: 100%;
    display: flex;
}

html {
    height: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    overflow: hidden;
    margin: auto;
    border: 1px solid #ccc;
    align-items: stretch;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 17vh;
}

.imagem {
    flex: 1;
}

.imagem img{
    display: block;
    width: 450px;
    height: 450px;
    max-width: 450px;
    max-height: 450px; 
}

p {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.my-form {
    flex: 1;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    background-color: white;
}
.text-field-value {
    margin-top: 90px;
}
.btn {
    margin-top: 70px;
    height: 40px;
    display: flex;
}
.quantity-input {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #6b6b6b;
    margin: 0 5px;
}

.btn button {
    background: #22ce00;
    transition: .3s;
    width: 45%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btn button:hover {
    background: #2a2f43ea;
    color: #f0f0f0;
}

h2 {
    color: rgb(86, 86, 255);
}

h6 {
    visibility: hidden;
}

.voltar button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background: #ddddda50;
    color: var(--cor_primaria);
    border: 2px solid #ddddda;
    border-radius: 8px;
    line-height: 50%;
    transition: .3s;
}

.voltar button:hover {
    background: #22ce00;
    color: #f0f0f0;
}

.star {
    font-size: 15px;
    color: #ddd;
    position: relative;
    display: inline-block;
}

.star-filled {
    color: var(--cor_primaria);
}

.star-half::before {
    content: '\2605'; /* Unicode para a estrela preenchida */
    color: var(--cor_primaria);
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.estrelas-geral span {
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
}

.avaliacao-geral {
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .3);
}

dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: rgb(0 0 0 / .3);
    width: 30%;
    max-height: 45%;
    margin-top: 14%;
    margin-left: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.dialog-content {
    max-height: 60vh;
    overflow-y: auto;
}

dialog h2 {
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

dialog input {
    background-color: #dfdfdf;
    color: #000000;
    width: 90%;
    border: 2px black solid;
    border-radius: 8px;
    min-width: 280px;
    padding: 5px;
}

dialog label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

dialog .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

dialog button {
    font: 400 1rem 'Poppins';
    cursor: pointer;
    width: 50%;
    color: black;
    background: var(--cor_primaria);
    padding: 10px 0;
    border-radius: 8px;
    transition: .3s;
}

dialog button:hover {
    color: #fff;
    background: #2a2f43f1;
}

dialog .button-center {
    margin-left: 33%;
    margin-top: 8px;
    justify-content: center;
}

.descricao {
    background-color: #d4d4d4;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.descricao_user {
    margin-left: 5px;
    font: 400 1rem 'Poppins';
    font-weight: bold;
}

.descricao_descricao {
    margin-left: 15px;
    font: 200 1rem 'Poppins';
}

.descricao_user_none {
    margin-top: 20px;
    margin-bottom: 20px;
    font: 400 1rem 'Poppins';
    font-weight: bold;
    text-align: center;
}