@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
h2 {
    color: black;
    text-align: center;
}
label{
    color: #6f7e8a;
}

body{
    background-size: cover;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
#form{
    background-color: #cfcfcf;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    padding: 60px;
    width: 480px;
    align-items: center;
    color: #2b344b;
    pointer-events: all;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 16px rgb(0 0 0 / .3);
}
.title{
    font-size: 1.8em; 
    margin-bottom: 10%;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(8,36,0,0.8559874633447129) 0%, rgba(46,121,9,0.8727941860337886) 35%, rgba(0,255,156,1) 100%);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: linear-gradient(90deg, rgba(8,36,0,0.8559874633447129) 0%, rgba(0,255,156,1) 100%, rgba(46,121,9,0.8727941860337886) 35%);
}
select {
    background-color: #cfcfcf;
    color: #2b344b;
    width: 13%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    padding: 5px;
}
input[type="date"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    padding: 5px;
}
input[type="tel"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    padding: 5px;
}
input[type="text"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    padding: 5px;
}
input[type="password"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    min-width: 280px;
    padding: 5px;
}
input[type="email"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    min-width: 280px;
    padding: 5px;
}
input[type="file"]{
    font-family: 'Poppins', sans-serif;
    background-color: #cfcfcf;
    color: #2b344b;
    width: 97%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    min-width: 280px;
    padding: 5px;
}
button[type="button"]{
    width: 40%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: rgba(46,121,9,0.8727941860337886);
    border: none;
    font-size: 1.0em;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.localidade {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o select e o input */
    width: 99%;
}
.localidade input[type="text"]{
    background-color: #cfcfcf;
    color: #2b344b;
    width: 85%;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 12px -5px;
    padding: 5px;
}
.endereco {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o select e o input */
    width: 99%;
}
.endereco #district, #street {
    width: 42%;
}
#number {
    width: 7%;
}