<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nome2 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produto.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/produtos.js') }}"></script>
</head>

<body>
    <div class="background">
        <form class="my-form" method="POST" action="{{ url_for('save_product', codigo=codigo2) }}">
            <div class="form-welcome-row">
                <div class="voltar">
                    <button type="button" onclick = "window.history.back();">
                        <i class="bx bx-chevron-left"></i>
                    </button>
                </div>
                <h1>{{ nome2 }}</h1>
                <div class="avaliacao-geral">
                    <div class="estrelas-geral">
                        {% if produto.nota is not none %}
                            {% set avaliacao_arredondada = produto.nota|round(1, 'floor') %}
                            {% for i in range(1, 6) %}
                                {% if i <= produto.nota %}
                                    <span class="star star-filled">&#9733;</span>
                                {% elif i == avaliacao_arredondada + 0.5 %}
                                    <span class="star star-half">&#9733;</span>
                                {% else %}
                                    <span class="star">&#9733;</span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in range(1, 6) %}
                                <span class="star">&#9733;</span>
                            {% endfor %}
                        {% endif %}
                        <span>({{ produto.quantidade }})</span>
                    </div>
                </div>
                <dialog>
                    <h2>Avaliações</h2>
                    <div class="dialog-content">
                        {% if avaliacoes %}
                            {% for avaliacao in avaliacoes %}
                                <div class="descricao">
                                    <div class="descricao_user">
                                        <span>{{ avaliacao.nome_cliente }} - {{ avaliacao.data_compra }}</span>
                                        {% set nota_arredondada = avaliacao.nota|round(1, 'floor') %}
                                        {% for star_index in range(1, 6) %}
                                            {% if star_index <= avaliacao.nota %}
                                                <span class="star star-filled">&#9733;</span>
                                            {% elif star_index == nota_arredondada + 0.5 %}
                                                <span class="star star-half">&#9733;</span>
                                            {% else %}
                                                <span class="star">&#9733;</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="descricao_descricao">
                                        <span>{{ avaliacao.descricao }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="descricao_user_none">
                                <span>Parece que o produto ainda não foi avaliado :(</span>
                            </div>
                        {% endif %}
                        <div class="button-center">
                            <button type="button" class="fechar">Fechar</button>
                        </div>
                    </div>
                </dialog>
                <h5>{{ categoria2 }}</h5>
                <h6>{{ codigo2 }}</h6>
            </div>
            <div class="text-field-value">               
                <h2>R$ {{ valor2 }}</h2>
                <h5>Em estoque: {{ quantidade2 }} unidades</h5>
            </div>
            <div class="btn">
                <input type="number" class="quantity-input" value="1" min="1" max="{{ quantidade2 }}" name="quant" id="quant">
                <button type="submit" class="carrinho">
                    <i class='bx bxs-cart-add' ></i>
                </button>
            </div>
        </form>
        <div class="imagem">
            <p id="foto"><img src="data:image/jpeg;base64,{{ foto2 }}" alt="Foto do Produto"></p>
        </div>
    </div>
</body>

</html>