<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nome2 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produto.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>

<body>
    <div class="background">
        <form class="my-form" method="POST" action="{{ url_for('save_product', codigo=codigo2) }}">
            <div class="form-welcome-row">
                <button type="button" class="voltar" onclick="window.history.back();">
                    <i class="bx bx-chevron-left"></i>
                </button>
                <h1>{{ nome2 }}</h1>
                <h5>{{ categoria2 }}</h5>
                <h6>{{ codigo2 }}</h6>
            </div>
            <div class="text-field-value">               
                <h2>R$ {{ valor2 }}</h2>
                <h5>Em estoque: {{ quantidade2 }} unidades</h5>
            </div>
            <div class="btn">
                <input type="number" class="quantity-input" value="1" min="1" max="{{ quantidade2 }}" name="quant" id="quant">
                <button type="submit">
                    <i class='bx bxs-cart-add' ></i>
                </button>
            </div>
        </form>
        <div class="imagem">
            <p id="foto"><img src="data:image/jpeg;base64,{{ foto2 }}" alt="Foto do Produto"></p>
        </div>
    </div>
</body>

</html>